/*------GLOBAL STYLES------*/
* {
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  margin: 0;
}
/*------HEADER component------*/
header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1507608869274-d3177c8bb4c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8ccfcc13bfcdfca6f54a8e043ffbe075&w=1000&q=80");
  background-size: cover;
  border-bottom: solid 1px rgb(43, 173, 229);
  border-bottom-color: rgb(226, 63, 18);
}

/* .small-header {
  height: auto;
} */

.big-header {
  height: 80vh;
}

header img {
  height: 100px;
}

.logo-name-container,
.nav-container {
  display: flex;
  margin: 0 20px;
}

nav {
  display: flex;
}

h1 {
  margin: 0;
  padding-top: 10px;
  color: rgb(255, 230, 0);
  /* color: rgb(226, 63, 18); */
  font-size: 3em;
  font-family: "Covered By Your Grace", cursive;
}

nav a {
  padding: 30px 10px;
  color: white;
  font-size: 1.2em;
  text-decoration: underline;
}

nav a:hover {
  font-weight: bold;
}

a {
  text-decoration: none;
}

/*------SIGNUP and LOGIN components------*/
.signup-page,
.login-page {
  display: flex;
  justify-content: center;
  background-color: rgba(206, 206, 206);
  height: 100vh;
}
.signup-page h2,
.login-page h2,
.create-post-page h2 {
  text-align: center;
}

.signup-container,
.login-container {
  width: 50%;
  margin-top: 100px;
  background-color: white;
  height: 400px;
  position: relative;
}

.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 60px 30px;
}

input {
  font-size: 1em;
  padding: 10px;
  margin-bottom: 5px;
}

button {
  font-size: 1em;
  background-color: rgb(226, 63, 18);
  color: white;
  padding: 15px;
  font-weight: bold;
  border: none;
}

.close-button {
  color: rgb(226, 63, 18);
  background: none;
  border: none;
  font-size: 2.5em;
  position: absolute;
  top: -2%;
  right: 4%;
  padding: 0;
  font-weight: bold;
}

/*------HOMEPAGE - POST component------ */
.all-posts {
  display: flex;
  justify-content: center;
}

.post-container {
  border: 2px solid rgb(226, 63, 18);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 304px;
  margin: 10px;
}

.post-container p {
  text-align: center;
  font-size: 1.5em;
  padding: 0 4px;
  font-family: "Open Sans Condensed", sans-serif;
  margin: 10px;
}
/*-----------------------*/
/*------CREATE POST------*/
/*-----------------------*/

/*------CreatePostPage component------*/
.create-post-page {
}
.create-post-container {
  display: flex;
}
/*------POSTBUILDER component ------*/
.col-1 {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.post-builder-container h2 {
  margin: 50px auto 0;
}

.post-builder-container h3 {
  margin: 0 auto 50px;
  text-align: center;
}

.find-quote-link {
  text-decoration: underline;
  text-align: center;
  margin-top: 50px;
}
/*------SELECTIMAGE component------*/
.col-2 {
  width: 50%;
}
/*------NEWPOST component------*/
.new-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.post-image-placeholder {
  width: 400px;
  height: 400px;
  border: 2px solid grey;
  text-align: center;
  padding-top: 175px;
  color: grey;
  font-size: 2em;
}

.post-text-placeholder {
  width: 390px;
  border-style: dashed;
}

.text-top {
  position: absolute;
  top: 5px;
}

.text-bottom {
  position: absolute;
  bottom: 125px;
}

.post-done {
  width: 400px;
  margin-top: 10px;
  border: none;
}

.post-cancel {
  background-color: grey;
  border: none;
  color: white;
  margin-top: 7px;
  width: 400px;
}

/*------SELECT IMAGE component------*/
.select-image-container {
  border-left: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-image-container img {
  width: 204px;
  border: 2px solid grey;
}
